<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="true">

  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>helloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/java-hello</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>add</servlet-name>
    <servlet-class>add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Test1</servlet-name>
    <servlet-class>javaServlet.Test1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test1</servlet-name>
    <url-pattern>/Test1</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>Test2</servlet-name>
  <servlet-class>javaServlet.Test2</servlet-class>
</servlet>
  <servlet-mapping>
    <servlet-name>Test2</servlet-name>
    <url-pattern>/Test2</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Test3</servlet-name>
    <servlet-class>javaServlet.Test3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test3</servlet-name>
    <url-pattern>/Test3</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Test4</servlet-name>
    <servlet-class>javaServlet.Test4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test4</servlet-name>
    <url-pattern>/Test4</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Test5</servlet-name>
    <servlet-class>javaServlet.Test5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test5</servlet-name>
    <url-pattern>/Test5</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>Test6</servlet-name>
    <servlet-class>javaServlet.Test6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test6</servlet-name>
    <url-pattern>/Test6</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Test7</servlet-name>
    <servlet-class>javaServlet.Test7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test7</servlet-name>
    <url-pattern>/Test7</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Test8</servlet-name>
    <servlet-class>javaServlet.Test8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test8</servlet-name>
    <url-pattern>/Test8</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Test9</servlet-name>
    <servlet-class>javaServlet.Test9</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test9</servlet-name>
    <url-pattern>/Test9</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>Test10</servlet-name>
    <servlet-class>javaServlet.Test10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test10</servlet-name>
    <url-pattern>/Test10</url-pattern>
  </servlet-mapping>
</web-app>
